<div class="d-flex align-items-center justify-content-center">

  <h1>Employee List</h1>
</div>

<div class="table-responsive">

  <%if current_user.role == "admin"%>
    <%= link_to "New Employee", new_employee_path %><br><br>
    <td><%= link_to "PDF",employees_path(format: :pdf) %></td>

    <%= form_tag employees_path, method: :get do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search by name or email" %>
      <%= submit_tag "Search" %>
    <% end %>

  <%end%>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>
        F_Name
        <%= link_to employees_path(order_by: "f_name", order: toggle_sort_order(params[:order], "f_name")) do %>
          <% if params[:order_by] == "f_name" && params[:order] == "asc" %>
            <i class="fa fa-sort-asc"></i>
          <% else %>
            <i class="fa fa-sort-desc"></i>
          <% end %>
        <% end
        %>
      </th>
      <th>L_Name</th>
      <th>Email
      <%= link_to employees_path(order_by: "email", order: toggle_sort_order(params[:order], "email")) do %>
        <% if params[:order_by] == "email" && params[:order] == "asc" %>
          <i class="fa fa-sort-asc"></i>
        <% else %>
          <i class="fa fa-sort-desc"></i>
        <% end %>
      <% end %>
      </th>
      <th>Designation</th>
      <th>Department</th>
      <th>EDIT</th>
      <th>DELETE</th>
      <th>PDF</th>
    </tr>
    <%= render(@employees) || "There are no Employee." %>
  </table>
</div>
