<tr>
    <td><%= allocate.id%></td>
    <td>
      <% if allocate.employee %>
        <%= allocate.employee.f_name %>
      <% end %>
    </td>
    <td>
      <% if allocate.periferal %>
        <%= allocate.periferal.name %>
      <% end %>
    </td>
    <td><%= allocate.allocate_from%></td>
    <td><%= allocate.allocate_to%></td>
    <td><%= link_to "Edit", edit_allocate_path(allocate.id) %></td>
    <td><%= link_to "Destroy", allocate_path(allocate.id),
      method: :delete,
      data: { confirm: 'Are you sure?'}
    %></td>
</tr>
