<%= javascript_include_tag 'allocation' %>
<%= form_with(model: @allocate, local: true) do |form| %>
  <div>
    <%= form.label :department %><br>
    <%= form.collection_select(:department_id, Department.all, :id, :department_name,{:include_blank => "please select"}, { id: 'department-select' }) %>
      <% @allocate.errors.full_messages_for(:department_id).each do |message| %>
       <div style="color:red"><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :employee %><br>
    <%= form.collection_select :employee_id, [], :id, :f_name, {}, { id: 'employee-select' } %>
      <% @allocate.errors.full_messages_for(:employee_id).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :periferal %><br>
    <%= form.collection_select(:periferal_id, Periferal.all, :id, :name, prompt: true)%>
      <% @allocate.errors.full_messages_for(:periferal_id).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </div><br>

  <div>
    <%= form.label :allocate_from %><br>
    <%= form.date_field :allocate_from %>
  </div><br>

  <div>
    <%= form.label :allocate_to %><br>
    <%= form.date_field :allocate_to %>
  </div><br>

  <%= form.submit %>
<% end %>
