<tr>
    <td><%= department.id%></td>
    <td><%= link_to department.dep_name, department %></td>
    <td><%= department.num_of_employee%></td>
    <td><%= link_to "Edit", "/departments/#{department.id}/edit" %></td>
    <td><%= link_to "Destroy", "/departments/#{department.id}",
    method: :delete,
    data: { confirm: 'Are you sure?'}
    %></td>
</tr>
