<%= link_to "Back", departments_path %> <br>
<h1>Department List</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Dep_Name</th>
    <th>NO. of Employees</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <tr>
    <td><%= @department.id%></td>
    <td><%= @department.dep_name%></td>
    <td><%= @department.num_of_employee%></td>
    <td><%= link_to "Edit", edit_department_path(@department.id) %></td>
    <td><%= link_to "Destroy", department_path(@department.id),
      method: :delete,
    data: { confirm: 'Are you sure?'}
    %></td>

  </tr>
 </table>
