<h1><center>Salary</center></h1><br><br>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Employee</th>
      <th>Month</th>
      <th>Total days</th>
      <th>Present days</th>
      <th>Leaves</th>
      <th>Absent</th>
      <th>Salary</th>
      <th>PDF</th>

    </tr>
    <% if @salaries.empty?%>
      <p><center>No Data</center></p><br><br>
    <% else%>
    <% @salaries.each do |salary| %>
    <tr>
      <td><%= salary.id %></td>
      <td><%= salary.employee.try(:f_name) %></td>
      <td><%= salary.month.strftime("%B") %></td>
      <td><%= salary.total_days %></td>
      <td><%= salary.present_days %></td>
      <td><%= salary.leaves %></td>
      <td><%= salary.absents %></td>
      <td><%= salary.salary %></td>
      <td><%= link_to "PDF",salary_path(salary, format: :pdf) %></td>
    </tr>

    <% end %>
    <% end %>
  </table>