<!DOCTYPE html>
<html>
  <head>
    <title>Salary Slip</title>
    <style>

      .container {
        width: 100%;
        margin: 0 auto;
      }

      .box {
        border: 1px solid black;
        padding: 10px;
        margin-bottom: 20px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }

      .heading {
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
        background-color: #1f4e78;
      }

      .address {
        text-align: center;
        font-weight: bold;
        background-color: white;
      }

      .middle-headings{
        font-size: 32px;
        font-weight: bold;
        color: #ffffff;
        background-color: #305496;
      }

      .net-salary {
        background-color: #305496;
        font-weight: bold;
        color: #ffffff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="box">
        <table style="background-color: #8ea9db">
          <tr>
            <td colspan="4" class="heading">Technomatz IT Solutions Pvt. Ltd.</td>
          </tr>
          <tr>
            <td colspan="4" style="text-align: center; font-weight: bold;" >Salary Slip For the Month Of <%= Date::MONTHNAMES[@salary.month.month]%> <%= @salary.month.year%></td>
          </tr>
          <tr>
            <td colspan="4" class="address">2nd Floor ,Plot No. 159, Sch No. 54, PU-4 Commercial, Vijay Nagar</br>
                            Indore -452001</br>
                            Email: hr@technomatz.com</br>
                            Contact No: 0731- 4100713
            </td>
          </tr>
          <tr>
            <th>Employee Name:</th>
            <td><%= @salary.employee.try(:f_name) %></td>
            <th>Pay Period:</th>
            <td><%= @salary.month.year%></td>
          </tr>

          <tr>
            <th>Pay Cycle:</th>
            <td><%= @salary.total_days%></td>
            <th>Branch</th>
            <td><%= @salary.employee.department.department_name%></td>
          </tr>

          <tr>
            <th>Date Of Joining</th>
            <td><%= @salary.employee.hire_date%></td>
            <th>Designation</th>
            <td><%= @salary.employee.designation%></td>
          </tr>

          <tr>
            <th>Bank</th>
            <td><%= @salary.employee.bank_account.bank_name%></td>
            <th>Pay Month</th>
            <td><%= Date::MONTHNAMES[@salary.month.month]%></td>
          </tr>
          <tr>
            <th>Total Paid Days</th>
            <td><%= @salary.present_days%></td>
            <th>LOP</th>
            <td>0</td>
          </tr>

          <tr>
            <td colspan="4" style="background-color: white">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" class="middle-headings">Earning</td>
            <td colspan="2" class="middle-headings">Deduction</td>
          </tr>

          <tr style="background-color: #d9e1f2">
            <th>Description</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Amount</th>
          </tr>
          <tr>
            <th>Basic Pay</th>
            <td><%= @salary.employee.salary%></td>
            <th>Income Tax</th>
            <td>0</td>
          </tr>
          <tr>
            <th>HRA</th>
            <td><%= 3600%></td>
            <th>Prof. Tax</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Allowance</th>
            <td><%=2400%></td>
            <th>Leave</th>
            <td>0</td>
          </tr>
          <tr>
            <th>Total Earning</th>
            <td><strong><%= number_with_precision(@salary.salary, precision: 1) %></strong></td>
            <th>Total Deduction</th>
            <td style="font-weight: bold;">----</td>
          </tr>
          <tr>
            <td colspan="4" class="net-salary">Net Salary- <%= @salary.salary.to_i.to_words.capitalize%> only</td>
          </tr>
        </table>
      </div>
    </div>
     <div class="signature" style="text-align: center">
    <span>*This is a Computer generated Pay slip, Signature or Seal not required.</span>
  </div>
  </body>
</html>
