<p>Generated at: </p>
<%= Time.now %>
<h1><center>Salary</center></h1><br><br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>Id</th>
      <th>Employee_id</th>
      <th>Month</th>
      <th>Total days</th>
      <th>Present days</th>
      <th>Leaves</th>
      <th>Absent</th>
      <th>Salary</th>
    </tr>
    <tr>
      <td><%= @salary.id %></td>
      <td><%= @salary.employee.try(:f_name) %></td>
      <td><%= @salary.month.strftime("%B") %></td>
      <td><%= @salary.total_days %></td>
      <td><%= @salary.present_days %></td>
      <td><%= @salary.leaves %></td>
      <td><%= @salary.absents %></td>
      <td><%= @salary.salary %></td>

    </tr>
  </table>