<%= form_with model: @periferal, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @periferal.errors.full_messages_for(:name).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </div><br>

 <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
    <% @periferal.errors.full_messages_for(:description).each do |message| %>
      <div style="color:red"><%= message %></div>
    <% end %>
  </div><br>

 <div>
    <%= form.label "Supplier id" %><br>
    <%= form.number_field :supplier_id, min: 0 %>
  </div><br>

   <div>
    <%= form.label "Manufacturer id" %><br>
    <%= form.number_field :manufacture_id, min: 0 %>
  </div><br>

 <div>
    <%= form.label :delivery_date %><br>
    <%= form.date_field :delivery_date %>
  </div><br>

 <div>
    <%= form.label :order_date %><br>
    <%= form.date_field :order_date %>
  </div><br>

  <div>
    <%= form.label :assign_to_Employee %><br>
     <%= form.collection_select(:employee_id, Employee.all, :id, :f_name, prompt: true)%>
  </div><br>

  <div>
    <%= form.label :assign_to_Department %><br>
     <%= form.collection_select(:department_id, Department.all, :id, :department_name, prompt: true)%>
  </div><br>

 <div>
    <%= form.label :warranty_start_date %><br>
    <%= form.number_field :warranty_start_date, min: 0 %>
  </div><br>

   <div>
    <%= form.label :bill %><br>
    <%= form.file_field :bill %>
  </div><br>

  <div>
    <%= form.label :warranty_duration %><br>
    <%= form.number_field :warranty_duration, min: 0%>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
  <%= submit_tag("Reset", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
<% end %>
