  <tr>
    <td><%= periferal.id%></td>
    <td><%= link_to periferal.name, periferal %></td>
    <td><%= periferal.description%></td>
    <td><%= periferal.supplier_id%></td>
    <td><%= periferal.manufacture_id%></td>
    <td><%= periferal.delivery_date%></td>
    <td><%= periferal.order_date%></td>
    <td><% if periferal.department %>
         <%= periferal.department.dep_name %>
         <% end %>
    </td>
     <td><% if periferal.employee %>
         <%= periferal.employee.f_name %>
         <% end %>
    </td>
    <td><%= periferal.warranty_start_date%></td>
    <td><%= periferal.warranty_duration%></td>
    <td><%= link_to "Edit", edit_periferal_path(periferal.id) %></td>
    <td><%= link_to "Destroy", periferal_path(periferal.id),
    method: :delete,
    data: { confirm: 'Are you sure?'}
    %></td>
  </tr>
