<%= link_to "Back", periferals_path %> <br>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg">
    <p>
    <strong>id : </strong>
    <%= @periferal.id %>
    </p>

    <p>
    <strong>Name: </strong>
    <%= @periferal.name %>
    </p>

    <p>
    <strong>Description: </strong>
    <%= @periferal.description %>
    </p>

    <p>
    <strong>Supplier id: </strong>
    <%= @periferal.supplier_id %>
    </p>

    <p>
    <strong>Manufacture id: </strong>
      <%= @periferal.manufacture_id %>
    </p>

      <p>
      <strong>Delivery date: </strong>
      <%= @periferal.delivery_date %>
      </p>

      <p>
      <strong>Order Date: </strong>
       <%= @periferal.order_date %>
       </p>

        <p>
       <strong>Assign to Department: </strong>
       <% if @periferal.department %>
         <%= @periferal.department.department_name %>
         <% end %>
       </p>

        <p>
       <strong>Assign to Employee: </strong>
       <% if @periferal.employee %>
         <%= @periferal.employee.f_name %>
         <% end %>
       </p>

         <p>
       <strong>Warranty start date: </strong>
       <%= @periferal.warranty_start_date %>
       </p>

        <p>
       <strong>Warranty Duration: </strong>
       <%= @periferal.warranty_duration %>
       </p>
  </div>
      <div class="col-sm">

        <%if @periferal.bill.attached?%>
          <%= image_tag @periferal.bill, :style => "width: 300px; height:300px" %>
        <%end%>

          <br><br><br>
          <%= link_to "Edit", edit_employee_path(@periferal.id) %>
          <%= link_to "Destroy", employee_path(@periferal.id),
            method: :delete,
            data: { confirm: 'Are you sure?'}
          %>
      </div>
  </div>
</div>