<tr>
  <td><%= attendance.employee.try(:f_name) %></td>
  <td><%= attendance.status %></td>
  <td><%= attendance.check_in_time %></td>
  <td><%= attendance.check_out_time %></td>
  <td><%= attendance.hours_worked %></td>
  <td><%= link_to "Edit", edit_attendance_path(attendance) %></td>
  <td><%= link_to "Destroy", attendance_path(attendance),
    method: :delete,
    data: { confirm: 'Are you sure?'} %>
  </td>
</tr>
