<div class="d-flex align-items-center justify-content-center">
  <h1>Attendance</h1>
</div>

<%= link_to "New Attendance", new_attendance_path %><br><br>

<%if current_user.role == "admin"%>
  <%= form_tag attendances_path, method: :get do %>
    <%= label_tag :employee_id, "Employee:" %>
    <%= select_tag :employee_id, options_for_select(Employee.all.map { |e| [e.f_name, e.id] }) %>

    <%= label_tag :month, "Month:" %>
    <%= select_month(Date.current, { prefix: 'start_', field_name: 'month' }) %>

    <%= submit_tag "Filter" %>
  <% end %>
<% end %>


<div class="table-responsive">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  <table class="table">
    <tr>
      <th>Employee</th>
      <th>Status</th>
      <th>Check in </th>
      <th>Check out</th>
      <th>hours_worked</th>
      <th>edit</th>
      <th>delete</th>
    </tr>
    <%= render(@attendances) || "There are no data" %>
  </table>
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>

<%= button_to "Calculate Salary", calculate_salary_salaries_path, method: :post %>
